/*Test output table and modal styles*/

.test_entry{
	width: 100%;
	margin-bottom: 10px;
}

.test_name{
	width: 100%;
	text-align: left;
	margin: 0px;
	padding: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.test_output{
	cursor:default;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 50px;
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;
}

.test_output.success{
	background-color:#dff0d8;
	color:black;
}

#message_body_area.success{
	background-color:#dff0d8;
	color:black;
}

.test_output.danger{
	background-color:#f2dede;
	color:black;
}

#message_body_area.danger{
	background-color:#f2dede;
	color:black;
}

.test_output.warning{
	background-color:#fcf8e3;
	color:black;
}

#message_body_area.warning{
	background-color:#fcf8e3;
	color:black;
}

#tests_output_table .input-prepend{
	height: 100px;
}

/*Test launcher status styles*/
@font-face {
	font-family: MyInconsolata;
	src: url('../img/Inconsolata.otf');
}

text {
	font: bold 20px MyInconsolata;
}

/*Overall page styles*/

body{
	font-family: MyInconsolata;
	background: url('../img/buddycloud-logo-background.png') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#nav_flex{
	margin-left: auto;
	margin-height: auto;
}

#input_flex{
	margin-bottom: 0px;
	padding-left: auto;
	padding-right: auto;
}

#domain_url_box, #inspect_button{
	font-family: MyInconsolata;
	font-weight: bold;
	font-size: 16pt;
	padding: 0px;
	margin-bottom: 0px;
	padding-left: 10px;
}

#domain_url_box{
	height: 48px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	padding-right: 5px;
}

#inspect_button{
	height: 34px;
	padding-top: 14px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding-left: 5px;
}

#domain_url_label{
	font-family: MyInconsolata;
	font-weight: bold;
	font-size: 14pt;
	color: rgb(134, 190, 41);
	cursor: default;
	margin-left: 10px;
}

#test_launcher_status, #header_msg{
	font-size: 12pt;
}

#test_launcher_status .domain_title{
	color: blue;
}
