body {
	padding-bottom: 35px;
}

#inspect_button{
	width: 65px;
}

.modal-dialog{
	padding-top: 50px;
	padding-top: 50px;
}

#message_body_area{
	overflow: auto;
	height: 370px;
}

#tests_header,
#tests_output{
	padding-left: 150px;
	padding-right: 150px;
	text-align: center;
}

#tests_header{
	margin-top: 20px;
}

#tests_output{
	margin-bottom: 60px;
}

.test_entry{
	display: table;
	width: 100%;
	padding-bottom: 60px;
}

.test_entry > div{
	display: table-row;
}

.test_entry > div > span{
	display: table-cell;
}

.test_entry > div > span:nth-child(1){
	width: 2%;
	padding-right: 10px;
}

.test_entry > div:nth-child(1) > span:nth-child(2) > div{
	width: 100%;
	display: table;
}

.test_entry > div:nth-child(1) > span:nth-child(2) > div > div{
	width: 100%;
	display: table-row;
}

.test_entry > div:nth-child(1) > span:nth-child(2) > div > div > span{
	display: table-cell;
}

.test_entry > div:nth-child(1) > span:nth-child(2) > div > div > span:nth-child(2){
	width: 6%;
}

.test_heading{
	padding-right: 15px;
	text-align: left;
}

.test_options{
	padding-left: 15px;
}

.test_entry > div:nth-child(2) > span:nth-child(2){
	height: 32px;
}

.glyphicon-ok{
	color: #2DAEBF;
}

.test_options .glyphicon{
	color: #C4C8CD;
	cursor: pointer;
}

.test_options > a{
	float: right;
	padding-right: 2.5px;
	padding-left: 2.5px;
}

.test_in_progress .test_no_quick_data{
	background-color: #C4C8CD;
}

.test_finished .test_no_quick_data{
	background-color: #2DAEBF;
}

.test_quick_data{
	background-color: transparent;
}
