body {
	padding-bottom: 35px;
}

#domain_url_form{
	height: 100%;
	padding-left: 150px;
	padding-right: 150px;
}

#domain_url_form > form > div{
	width: 100%;
	height: 100%;
}
#inspect_button{
	width: 65px;
}

.modal-dialog{
	padding-top: 50px;
	padding-top: 50px;
}

#message_body_area{
	overflow: auto;
	height: 370px;
}

#protocol_header,
#tests_output{
	padding-left: 150px;
	padding-right: 150px;
}

#protocol_header{
	text-align: center;
}

#tests_output{
	margin-bottom: 60px;
}

.test_entry{
/*	display: table;*/
	width: 100%;
	padding-bottom: 60px;
}

.test_entry > div{
/*	display: table-row;*/
}

.test_entry > div > span{
/*	display: table-cell;*/
}

.test_entry > div:nth-child(1) > span > div > div > span:nth-child(1){
	width: 2%;
	padding-right: 10px;
}

.test_entry > div:nth-child(1) > span > div{
	width: 100%;
	display: table;
}

.test_entry > div:nth-child(1) > span > div > div{
	width: 100%;
	display: table-row;
}

.test_entry > div:nth-child(1) > span > div > div > span{
	display: table-cell;
}

.test_entry > div:nth-child(1) > span > div > div > span:nth-child(1){
	width: 2%;
	padding-right: 10px;
}

.test_entry > div:nth-child(1) > span > div > div > span:nth-child(3){
	width: 6%;
}

.test_heading{
	padding-right: 15px;
	text-align: left;
}

.test_options{
	padding-left: 15px;
}

.glyphicon-ok{
	color: #2DAEBF;
}

.test_options .glyphicon{
	color: #C4C8CD;
	cursor: pointer;
}

.test_options > a{
	float: right;
	padding-right: 2.5px;
	padding-left: 2.5px;
}

/*
.test_in_progress .test_no_quick_data{
	background-color: #C4C8CD;
	height: 32px !important;
	width: 100% !important;
}

.test_finished.test_success .test_no_quick_data{
	background-color: #2DAEBF;
}

.test_finished.test_failure .test_no_quick_data{
	background-color: #38434C;
}

.test_finished.test_warning .test_no_quick_data{
	background-color: #E5E9EF;
}
*/

.test_finished.test_success .test_quick_data code{
	color: #2DAEBF;
}

.test_in_progress .test_no_quick_data code,
.test_finished.test_failure .test_quick_data code,
.test_finished.test_warning .test_quick_data code{
	color: #E5E9EF;
}

.test_no_quick_data .highlight,
.test_quick_data .highlight{
	margin-left: 20px;
	width: inherit;
}

.test_no_quick_data pre,
.test_no_quick_data code,
.test_quick_data pre,
.test_quick_data code{
	width: inherit;
}

.glyphicon_hidden{
	color: transparent !important;
	cursor: default;
}
