/*Test output table and modal styles*/
.test_output{
	cursor:default;
}

.test_output.success{
	background-color:#dff0d8;
	color:black;
}

#message_body_area.success{
	background-color:#dff0d8;
	color:black;
}

.test_output.danger{
	background-color:#f2dede;
	color:black;
}

#message_body_area.danger{
	background-color:#f2dede;
	color:black;
}

.test_output.warning{
	background-color:#fcf8e3;
	color:black;
}

#message_body_area.warning{
	background-color:#fcf8e3;
	color:black;
}


/*Test launcher status styles*/
@font-face {
	font-family: MyInconsolata;
	src: url('Inconsolata.otf');
}

text {
	font: bold 20px MyInconsolata;
}

.intro {
	fill: green;
	font: bold 48px MyInconsolata;
}

.enter {
	fill: green;
}

.update {
	fill: #6dc066;
}

.exit {
	fill: brown;
}

/*Overall page styles*/

body{
	font-family: MyInconsolata;
}

#logo{
	cursor:pointer;
	transition: color 2s;
	-webkit-transition: color 2s;
}
