<DOCTYPE html style="height:100%;">

	<head>
		<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap-responsive.min.css">
	</head>
	<body style="height:90%;">
		<div class='row' style="height:20%;">
			<div class='span4'>
				Buddycloud Inspection logo =)
			</div>
			<div class='span8' style='text-align:right;'>
				Ill have here an input box to insert the domain url of buddycloud about to be inspected. </br>
				Also a button which when clicked go to page "buddycloud-inspection.herokuapp.com/domain_url
			</div>
		</div>
		<div class='row' style="text-align:center;">
			And here the inspection results will show up as soon as they are received by the server
		</div>
	</body>

</html>
