<!DOCTYPE html>

	<head>
		<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<div class='row' style="height:20%; margin-top:30px;">
			<div class='span5' style="padding-left:50px;">
				Buddycloud Inspection logo =)
			</div>
			<div class='span8' style='text-align:right;'>
				<input type="text" class="input-medium search-query" id='domain_url'>
				<a class="btn" onclick="startInspection()">Inspect</a>
			</div>
		</div>
		<div class='row'>
			<table class="table" id="tests_output_table">
			</table>
		</div>
	</body>

	<script src="static/jquery-1.9.1.min.js" language="javascript" type="text/javascript"></script>
	<script>

		function startInspection(){

			var domain_url = $("#domain_url").val();
			console.log("buddycloud domain url to be inspected: "+domain_url);

			$("#tests_output_table").html("<tr><td>Test Name</td><td>Output</td></tr>");

			$.get("/test_names", function(data){
				
				data = JSON.parse(data);

				console.log(data);
				console.log(data.entries.length);

				for ( var i=0; i<data.entries.length; i++ ){
					console.log("appending table output entry for test "+data.entries[i].name);
					$("#tests_output_table").append("<tr><td>"+data.entries[i].name+"</td><td id='"+data.entries[i].name+"'></td></tr>");

					$.get("/perform_test/"+data.entries[i].name, function(data){
						$("#"+data.name).text(data.output)
					});
				}

			});

		}

	</script>
</html>
