<!DOCTYPE html>

	<head>
		<meta name="viewport" 	content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="static/bootstrap/css/bootstrap.min.css">
	</head>
	<body>
		<div class='row' style="height:20%; margin-top:30px;">
			<div class='span5' style="padding-left:50px;">
				Buddycloud Inspection logo =)
			</div>
			<div class='span8' style='text-align:right;'>
				<input type="text" class="input-medium search-query" id='domain_url' value="buddycloud.org">
				<a class="btn" onclick="startInspection()">Inspect</a>
			</div>
		</div>
		<div class='container' style="margin-top:30px;">
			<table class="table" id="tests_output_table">
			</table>
		</div>
	</body>

	<script src="static/jquery-1.9.1.min.js" language="javascript" type="text/javascript"></script>
	<script>

		function getExitStatusClass(code){
			switch(code){
				case 0:
					return "success";
				case 1:
					return "error";
				default:
					return "warning";
			}
		}

		function startInspection(){

			var domain_url = $("#domain_url").val();
			console.log("buddycloud domain url to be inspected: "+domain_url);

			$("#tests_output_table").html("<tr><td>Test Name</td><td>Output</td></tr>");

			$.get("/test_names", function(data){
				
				data = JSON.parse(data);

				console.log(data);
				console.log(data.entries.length);

				for ( var i=0; i<data.entries.length; i++ ){
					console.log("appending table output entry for test "+data.entries[i].name);
					$("#tests_output_table").append("<tr id='tr_"+data.entries[i].name+"'><td>"+data.entries[i].name+"</td><td id='td_"+data.entries[i].name+"'></td></tr>");

					$.get("/perform_test/"+data.entries[i].name+"/"+domain_url, function(data){
						data = JSON.parse(data);
						console.log("test "+data.name+" finished: "+data);
						$("#tr_"+data.name).attr("class", getExitStatusClass(data.exit_status));
						$("#td_"+data.name).text(data.output);
					});
				}

			});

		}

	</script>
</html>
