create_tuc_open
create_tuc_authorized
create_ttc
create_tuc_followers
promote_tuc_to_moderator
promote_tuc_to_follower_post
promote_tuc_to_follower
ban_tuc
create_tuc_not_following
#visibility_tuc_open
#visibility_tuc_authorized
#visibility_tuc_moderator
#visibility_tuc_follower_post
#visibility_tuc_follower
#visibility_tuc_banned
#visibility_tuc_not_following
#visibility_anonymous
#metadata_change_tuc_open
#metadata_change_tuc_authorized
#metadata_change_tuc_moderator
#metadata_change_tuc_follower_post
#metadata_change_tuc_follower
#metadata_change_tuc_banned
#metadata_change_tuc_not_following
#metadata_change_anonymous
#posts_management_tuc_open
#posts_management_tuc_authorized
#posts_management_tuc_moderator
#posts_management_tuc_follower_post
#posts_management_tuc_follower
#posts_management_tuc_banned
#posts_management_tuc_not_following
#posts_management_anonymous
#status_change_tuc_open
#status_change_tuc_authorized
#status_change_tuc_moderator
#status_change_tuc_follower_post
#status_change_tuc_follower
#status_change_tuc_banned
#status_change_tuc_not_following
#status_change_anonymous
approve_new_follower_tuc_open
approve_new_follower_tuc_authorized
approve_new_follower_tuc_moderator
approve_new_follower_tuc_follower_post
approve_new_follower_tuc_follower
approve_new_follower_tuc_banned
approve_new_follower_tuc_not_following
approve_new_follower_anonymous
role_change_tuc_open
role_change_tuc_authorized
role_change_tuc_moderator
role_change_tuc_follower_post
role_change_tuc_follower
role_change_tuc_banned
role_change_tuc_not_following
role_change_anonymous
delete_ttc
delete_tuc_open
delete_tuc_authorized
delete_tuc_followers
delete_tuc_not_following
